* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cart {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

/* Styling for sidebar links */
.sidebar li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
}

.sidebar a:hover {
    color: blueviolet;
}

svg {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.movie-detailed {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.container {
    display: flex;
}

button {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(180, 127, 229);
}

.cartNotification {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 50%;
    width: 20px;
    height: 20px;

}